<!---extends base template--->
{% extends "base.html" %}
{% block content %}

<h1>Add Items to the store</h1>
<form method="post" name="additems">
    {{ form.hidden_tag() }}

    <label>Item Name:</label>
    <p>
		<div class="form-group">
			<input placeholder="item name"
			{{ form.itemName }}
		</div>
		{% for error in form.itemName.errors %}
		<div class="alert alert-warning" role="alert">
		    <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}
    </p>


    <label>Price:</label>
    <p>
		<div class="form-group">
			<input placeholder="£:"
			{{ form.price }}
		</div>
		{% for error in form.price.errors %}
		<div class="alert alert-warning" role="alert">
      <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}
    </p>


    <label>Quantity:</label>
    <p>
		<div class="form-group">
			<input placeholder="..."
			{{ form.quantity }}
		</div>
		{% for error in form.quantity.errors %}
		<div class="alert alert-warning" role="alert">
      <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}
    </p>

    <p><input type="submit" class="btn btn-primary mb1 bg-olive" value="add item to store"></p>
</form>
{% endblock %}
