{% extends "base.html" %} {% block content %}
<div>
  <h2 class="mb-4">Basket</h2>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

      {% for i in items %}

      <div class ="card" style="width: 30rem">
        <div class ="card-body">
          <h3 class = "card title">{{i.itemName}}</h3>
          <p class="card-text">Price: £{{i.price}}</p>
          {% if email != 'admin@store.com' and session['loggedIn'] == True %}
          {{ form.hidden_tag() }}
          <form action="" method="post" name="removeFromBasket">
          {{ form.id(class="d-none", value=i.id) }}
          <input type="submit" value="Remove" class="btn btn-primary mb1 bg-olive" />
          </form>
          {%endif %}
        </div>
      </div>

      {% endfor %}


</div>
{% endblock %}
