{% extends "base.html" %} {% block content %}
<div class="form-container">

  <h1>Change your password</h1>

  <form method="post" name="changePassword">


    <label>Old password:</label>
    <p>
    <div class="form-group">
      <input placeholder="old password"
      {{ form.oldPassword }}
    </div>
    {% for error in form.oldPassword.errors %}
    <!---yellow warning with red text--->
    <div class="alert alert-warning" role="alert">
      <span style ="color: red;">{{ error }}</span>
    </div>
    {% endfor %}
    </p>

    <label>New Password:</label>
    <p>
    <div class="form-group">
      <input placeholder="new password"
      {{ form.newPassword }}
    </div>
    {% for error in form.newPassword.errors %}
    <!---yellow warning with red text--->
    <div class="alert alert-warning" role="alert">
      <span style ="color: red;">{{ error }}</span>
    </div>
    {% endfor %}
    </p>

    <label>Repeat new Password:</label>
    <p>
    <div class="form-group">
      <input placeholder="repeat password"
      {{ form.repeatNew }}
    </div>
    {% for error in form.repeatNew.errors %}
    <!---yellow warning with red text--->
    <div class="alert alert-warning" role="alert">
      <span style ="color: red;">{{ error }}</span>
    </div>
    {% endfor %}
    </p>

    <input type="submit" class="btn btn-primary mb1 bg-olive" value="Change Password"/>

  </form>
</div>
{% endblock %}
