{% extends "base.html" %}
 {% block content %}

		<h1>Welcome to the shop</h1>

    <!-- This is the component for a button -->
    {% if email == 'admin@store.com' and session['loggedIn'] == True %}
    <a href="/add_items" class="btn btn-orange w-100 mb-3">Add items</a>
    {% else %}
    <a href="/basket" class="btn btn-orange w-100 mb-3">Basket</a>
    {%endif %}
    {% if session['loggedIn'] == True %}
    <p>Logged in as {{email}}</p>
    <a href="/logout" class="btn btn-orange w-100 mb-3">Log out</a>
    {% else %}
    <p>Log in to add items to your basket</p>
    {%endif %}

    {% for i in items %}
      <!---card class display--->
      <div class ="card" style="width: 30rem">
        <div class ="card-body">
          <h3 class = "card title">{{i.itemName}}</h3>
          <p class="card-text">Price: £{{i.price}}</p>
          {% if email != 'admin@store.com' and session['loggedIn'] == True %}
          {{ form.hidden_tag() }}
          <form action="" method="post" name="addToBasket">
          {{ form.id(class="d-none", value=i.id) }}
          <input type="submit" value="Add To Basket" class="btn btn-primary mb1 bg-olive"/>
          </form>
          {%endif %}
        </div>
      </div>
    {% endfor %}

 {% endblock %}
