<!---extends base template--->
{% extends "base.html" %}
{% block content %}

<h1>Log in</h1>
<form method="post" name="log_in">
    {{ form.hidden_tag() }}

    <label>Email:</label>
    <p>
		<div class="form-group">
			<input placeholder="user@email.com" type="email"
			{{ form.email }}
		</div>
		{% for error in form.email.errors %}
		<div class="alert alert-warning" role="alert">
		    <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}
    </p>


    <label>Password:</label>
    <p>
		<div class="form-group">
			<input placeholder="password123"
			{{ form.password }}
		</div>
		{% for error in form.password.errors %}
		<div class="alert alert-warning" role="alert">
		    <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}
    </p>


    <h3> Log In!</h3>

    <p><input type="submit" class="btn btn-primary mb1 bg-olive" value="log in"></p>
</form>
{% endblock %}
