<!---extends base template--->
{% extends "base.html" %}
{% block content %}

<h1>Register an account</h1>
<form method="post" name="register">
    {{ form.hidden_tag() }}

    <label>Email:</label>
		<div class="form-group">
			<input placeholder="user@email.com" type="email"
			{{ form.email }}
		</div>
		{% for error in form.email.errors %}
		<div class="alert alert-warning" role="alert">
		    <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}


    <label>First name:</label>
		<div class="form-group">
			<input placeholder="my first name"
			{{ form.firstName }}
		</div>
		{% for error in form.firstName.errors %}
		<div class="alert alert-warning" role="alert">
		    <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}

    <label>Last name:</label>
		<div class="form-group">
			<input placeholder="my last name"
			{{ form.lastName }}
		</div>
		{% for error in form.lastName.errors %}
		<div class="alert alert-warning" role="alert">
		    <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}



    <label>Password:</label>
		<div class="form-group">
			<input placeholder="password123"
			{{ form.password }}
		</div>
		{% for error in form.password.errors %}
		<div class="alert alert-warning" role="alert">
		    <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}



    <label>Repeat password:</label>
		<div class="form-group">
			<input placeholder="password123"
			{{ form.repeatPassword }}
    </div>
    {% for error in form.repeatPassword.errors %}
    <!---yellow warning with red text--->
    <div class="alert alert-warning" role="alert">
		    <span style ="color: red;">{{ error }}</span>
		</div>
		{% endfor %}



    <h3> Register!</h3>
    <p><input type="submit" class="btn btn-primary mb1 bg-olive" value="register new account"></p>
</form>
{% endblock %}
